<h1>Welcome to Coder school snap chat</h1>
<%= link_to "Sign in with Facebook", "/auth/facebook", {:class => 'btn btn-md btn-info'} %> << It's still not worked since I don't know how to config app for facebook 

<h2> Users </h2>

<table class = "table">
	<thead class ="thead thead-default">
		<tr>
			<th> Name: </th>
			<th> Email: </th>
		</tr>
	</thead>
	<tbody>
		<% User.all.each do |user| %>
		<tr>
			<td><%= user.name %> </td>
			<td><%= user.email %> </td>
			
			<% end %>	
		</tbody>
	</table>
